@use '../variables';

.button {
    border-radius: 8px;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;

    &--primary {
        color: #fff;
        background-color: variables.$purple;
    }

    @media (max-width: 640px){
        display: block;
        width: 100%;

    }

    @media (max-width: 1024px){
        display: flex;
        align-items: center;
    }
}